header {
  margin-bottom: 40px;
  box-shadow: 0 0 5px 1px rgb(80, 193, 242);
  padding: 40px 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 23px;
      a {
        color: black;
      }
      img {
        width: 130px;
        height: 60px;
        object-fit: cover;
      }
    }
    .searchs {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      .basket_quintity {
        display: flex;
        position: relative;
        .count {
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background: red;
          position: absolute;
          padding: 2px 0 0 0;
          z-index: -1;
          top: -7px;
          left: 17px;
          p {
            font-size: 13px;
            text-align: center;
            color: white;
          }
        }
      }
      .options {
        width: 350px;
        border-radius: 10px;
        background: rgb(226, 233, 229);
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
        transition: .6s;
        .books {
          .book {
            display: flex;
            img {
              width: 100px;
              border-radius: 10px;
              height: 130px;
              margin: 0 20px 0 0;
            }
            .text {
              h4 {
                margin-top: 10px;
                font-size: 17px;
              }
              h6 {
                font-size: 13px;
                font-weight: 600;
                margin-top: 8px;
              }
              p {
                font-size: 12px;
                font-weight: 600;
                margin-top: 12px;
              }
            }
          }
          hr {
            margin: 10px 0;
            background: rgb(173, 54, 252);
            height: 1px;
            border: none;
            box-shadow: 0 0 3px 0.8px rgb(92, 199, 249);
          }
        }
      }
    }
  }
  .basket-input {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
}
.first {
  animation: first_text 0.5s;
}
.second {
  animation: first_text 1s;
}
.three {
  animation: first_text 1.5s;
}
.four {
  animation: first_text 2s;
}
@keyframes first_text {
  0% {
    transform: translateY(-180px);
  }
}

.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 350px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}
