header {
  margin-bottom: 40px;
  box-shadow: 0 0 5px 1px rgb(80, 193, 242);
  padding: 40px 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 23px;
      a {
        color: black;
      }
      img {
        width: 130px;
        height: 60px;
        object-fit: cover;
      }
    }
    .searchs {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 20px;
    }
  }
  .basket-input {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
}

.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}
