.checkbox {
  display: flex;
  align-items: center;
}
.checkbox1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.books-block img {
  border-radius: 10px;
  height: 300px;
}
#books {
  display: flex;
}
.hero p {
  margin: 10px 0;
}
.books-blocks {
  margin-top: -23pc;
  margin-left: 20pc;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 70px;
}
.books-block {
  width: 200px;
  margin-bottom: 30px;
}
.books-block h4 {
  font-weight: 200;
  margin-top: 6px;
}
.filters {
  margin-top: 20px;
}
.filter-btn select {
  padding: 10px 20px;
  color: rgb(69, 2, 117);
  border: solid 2px rgba(67, 139, 234, 0.656);
  border-radius: 8px;
  font-weight: 600;
  background: transparent;
  outline: none;
}
.filter-btn option {
  color: rgb(85, 2, 157);
  margin: 30px 0;
}
.filt {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.filt p {
  font-size: 15px;
  margin-top: 7px;
  color: rgb(85, 149, 227);
  border-bottom: solid 2px rgb(85, 149, 227);
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booksreb {
  display: flex;
  gap: 3pc;
}
.section1 {
  margin-top: 20px;
}
.section1 input {
  margin: 10px 0;
}
.btns {
  display: flex;
  gap: 20px;
}
.delete {
  padding: 6px 8px;
  background: rgba(228, 39, 39, 0.847);
  border: 2px solid rgb(212, 4, 4);
  box-shadow: 0 0 5px 0.5px red;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.edit {
  padding: 6px 8px;
  background: rgba(48, 228, 39, 0.847);
  border: 2px solid rgb(42, 212, 4);
  box-shadow: 0 0 5px 0.5px rgb(34, 255, 0);
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
/* Select */
