.password {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
}
.asd {
  filter: blur(5px);
}
.eye {
  position: absolute;
  right: 10px;
  top: 44px;
  font-size: 18px;
  cursor: pointer;
}
.login-card {
  background-color: #f1f0f0;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 70px;
  width: 500px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-header h1 {
  font-size: 2em;
  color: #333;
  text-shadow: 1px 1px #ddd;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
}

.input-2[type="text"],
.input-2[type="email"],
.input-2[type="password"] {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  font-size: 1.2em;
  color: #555;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease;
}

.input-2[type="text"]:focus,
.input-2[type="email"]:focus,
.input-2[type="password"]:focus {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

.input-2[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.input-2[type="submit"]:hover {
  background-color: #0069d9;
}

.login-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s ease;
  transition: 0.25s;
  margin-top: 40px;
}

.login-button:hover {
  background-color: #0069d9e7;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 105, 217, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 105, 217, 1);
  box-shadow: 0px 0px 20px 0px rgba(0, 105, 217, 1);
}

/* LOADING */

.loader {
  background: linear-gradient(
    90deg,
    #6f22ff,
    #00aaff,
    #2cc92c,
    #00aaff,
    #6f22ff
  );
  background-size: 600% 600%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: neonRotate 10s linear infinite;
  position: relative;
  margin-left: 160px;
}
.circleMiddle {
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 99;
}
.worm {
  position: absolute;
  width: 15px;
  height: 40px;
  background-color: #f1f0f0;
  animation: rotateWorm 1s linear infinite;
  z-index: 80;
}
@keyframes neonRotate {
  0%,
  100% {
    background-position: 0% 0%;
  }
  25%,
  75% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
}
@keyframes rotateWorm {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
